{
  "openapi": "3.0.3",
  "info": {
    "title": "VMS Backend API",
    "version": "1.0.0",
    "description": "API documentation for the VMS (Vehicle Management System) backend."
  },
  "servers": [
    {
      "url": "https://devvms.tractorfirst.com",
      "description": "development"
    }
  ],
  "components": {
    "securitySchemes": {
      "AuthToken": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Raw JWT access token (no 'Bearer ' prefix) issued by /login."
      },
      "VmsAuthToken": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Token for /vmt/* routes. These authenticate against the vmtusers collection, not users - a VMS admin token will fail with 'User Not found!!!'. Use the token from /vmt/verify-otp, or the VMS_TOKEN_FOR_RECONCILIATION_MS static token (non-production only)."
      },
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "Static API key used for partner/other-platform routes."
      }
    },
    "responses": {
      "UnauthorizedError": {
        "description": "Missing, invalid, or expired token.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": false
                },
                "message": {
                  "type": "string",
                  "example": "Token is required"
                }
              }
            }
          }
        }
      },
      "ValidationError": {
        "description": "Request failed validation.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": false
                },
                "message": {
                  "type": "string",
                  "example": "Validation error message"
                }
              }
            }
          }
        }
      },
      "ServerError": {
        "description": "Unexpected server error.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": false
                },
                "message": {
                  "type": "string",
                  "example": "Internal server error"
                }
              }
            }
          }
        }
      }
    }
  },
  "tags": [],
  "paths": {
    "/api/v1/yard": {
      "get": {
        "tags": [
          "Yard"
        ],
        "summary": "Get all yards",
        "description": "Returns yards, filterable by name and paginated. By default only yards with active=\"active\" are returned; pass `all` to include everything except deprecated yards.",
        "parameters": [
          {
            "in": "query",
            "name": "search",
            "schema": {
              "type": "string"
            },
            "description": "Case-insensitive name filter."
          },
          {
            "in": "query",
            "name": "all",
            "schema": {
              "type": "string",
              "example": "true"
            },
            "description": "If truthy, includes all yards except those with active=\"depricated\"."
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "example": 1
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "example": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Yard data fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Yard Data fetched successfully"
                    },
                    "count": {
                      "type": "integer",
                      "example": 25
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "_id": {
                            "type": "string",
                            "example": "64f1a2b3c4d5e6f7a8b9c0d1"
                          },
                          "name": {
                            "type": "string",
                            "example": "Jaipur Yard"
                          },
                          "state": {
                            "type": "string",
                            "example": "Rajasthan"
                          },
                          "district": {
                            "type": "string",
                            "example": "Jaipur"
                          },
                          "tehsil": {
                            "type": "string",
                            "example": "Sanganer"
                          },
                          "address": {
                            "type": "string",
                            "example": "Near NH-8, Jaipur"
                          },
                          "spocName": {
                            "type": "string",
                            "example": "Ramesh Kumar"
                          },
                          "spocNo": {
                            "type": "string",
                            "example": "9876543210"
                          },
                          "locationUrl": {
                            "type": "string",
                            "example": "https://maps.google.com/?q=26.9,75.8"
                          },
                          "perDayParkingCharge": {
                            "type": "number",
                            "example": 100
                          },
                          "tempPerDayParkingCharge": {
                            "type": "number",
                            "example": 50
                          },
                          "active": {
                            "type": "string",
                            "example": "active"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "post": {
        "tags": [
          "Yard"
        ],
        "summary": "Bulk-update the active status of every yard",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "active"
                ],
                "properties": {
                  "active": {
                    "type": "string",
                    "example": "active",
                    "description": "New active status applied to all yard documents."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "All yards updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "All yards updated successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Status is required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Status is required"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "put": {
        "tags": [
          "Yard"
        ],
        "summary": "Drop a hardcoded index on the yard collection (maintenance utility)",
        "description": "Internal maintenance endpoint that drops an index named \"indexName\" from the yard collection. No request body.",
        "responses": {
          "200": {
            "description": "Yard index removed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Yard index removed successfully"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/v1/yard/add": {
      "post": {
        "tags": [
          "Yard"
        ],
        "summary": "Add a new yard",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "yardDetails"
                ],
                "properties": {
                  "yardDetails": {
                    "type": "object",
                    "required": [
                      "name",
                      "state",
                      "district",
                      "tehsil",
                      "address",
                      "spocName",
                      "spocNum"
                    ],
                    "properties": {
                      "name": {
                        "type": "string",
                        "example": "Jaipur Yard"
                      },
                      "address": {
                        "type": "string",
                        "example": "Near NH-8, Jaipur"
                      },
                      "spocName": {
                        "type": "string",
                        "example": "Ramesh Kumar"
                      },
                      "spocNum": {
                        "type": "string",
                        "example": "9876543210",
                        "description": "10-digit mobile number, mapped to spocNo on save."
                      },
                      "locationUrl": {
                        "type": "string",
                        "example": "https://maps.google.com/?q=26.9,75.8"
                      },
                      "state": {
                        "type": "string",
                        "example": "Rajasthan"
                      },
                      "district": {
                        "type": "string",
                        "example": "Jaipur"
                      },
                      "tehsil": {
                        "type": "string",
                        "example": "Sanganer"
                      },
                      "yardPerDayParkingChargesByPE": {
                        "type": "string",
                        "example": "100",
                        "description": "Mapped to perDayParkingCharge on save."
                      },
                      "active": {
                        "type": "string",
                        "example": "active"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Yard added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Yard added successfully"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "_id": {
                          "type": "string",
                          "example": "64f1a2b3c4d5e6f7a8b9c0d1"
                        },
                        "name": {
                          "type": "string",
                          "example": "Jaipur Yard"
                        },
                        "state": {
                          "type": "string",
                          "example": "Rajasthan"
                        },
                        "district": {
                          "type": "string",
                          "example": "Jaipur"
                        },
                        "tehsil": {
                          "type": "string",
                          "example": "Sanganer"
                        },
                        "address": {
                          "type": "string",
                          "example": "Near NH-8, Jaipur"
                        },
                        "spocName": {
                          "type": "string",
                          "example": "Ramesh Kumar"
                        },
                        "spocNo": {
                          "type": "string",
                          "example": "9876543210"
                        },
                        "locationUrl": {
                          "type": "string",
                          "example": "https://maps.google.com/?q=26.9,75.8"
                        },
                        "perDayParkingCharge": {
                          "type": "number",
                          "example": 100
                        },
                        "active": {
                          "type": "string",
                          "example": "active"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/v1/yard/edit": {
      "put": {
        "tags": [
          "Yard"
        ],
        "summary": "Edit an existing yard",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "yardDetails"
                ],
                "properties": {
                  "yardDetails": {
                    "type": "object",
                    "required": [
                      "yardId"
                    ],
                    "properties": {
                      "yardId": {
                        "type": "string",
                        "example": "64f1a2b3c4d5e6f7a8b9c0d1"
                      },
                      "name": {
                        "type": "string",
                        "example": "Jaipur Yard"
                      },
                      "address": {
                        "type": "string",
                        "example": "Near NH-8, Jaipur"
                      },
                      "spocName": {
                        "type": "string",
                        "example": "Ramesh Kumar"
                      },
                      "spocNum": {
                        "type": "string",
                        "example": "9876543210",
                        "description": "Mapped to spocNo on save."
                      },
                      "locationUrl": {
                        "type": "string",
                        "example": "https://maps.google.com/?q=26.9,75.8"
                      },
                      "state": {
                        "type": "string",
                        "example": "Rajasthan"
                      },
                      "district": {
                        "type": "string",
                        "example": "Jaipur"
                      },
                      "tehsil": {
                        "type": "string",
                        "example": "Sanganer"
                      },
                      "yardPerDayParkingChargesByPE": {
                        "type": "string",
                        "example": "100",
                        "description": "Mapped to perDayParkingCharge on save."
                      },
                      "active": {
                        "type": "string",
                        "example": "active"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Yard updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Yard added successfully"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/v1/vmt/login-by-otp": {
      "post": {
        "tags": [
          "VMT"
        ],
        "summary": "Send login OTP to a mobile number",
        "description": "Validates the mobile number and triggers an OTP via the TJ login service.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "mobile"
                ],
                "properties": {
                  "mobile": {
                    "type": "string",
                    "minLength": 10,
                    "maxLength": 15,
                    "example": "9876543210"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Otp send",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Otp send"
                    },
                    "data": {
                      "type": "object",
                      "description": "Raw response from the TJ OTP service."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/v1/vmt/verify-otp": {
      "post": {
        "tags": [
          "VMT"
        ],
        "summary": "Verify OTP and log in or auto-register a VMT user",
        "description": "Verifies the OTP against the TJ service (a static value of 12345 always passes), then finds or creates the VMT user record.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "mobile",
                  "otp"
                ],
                "properties": {
                  "mobile": {
                    "type": "string",
                    "minLength": 10,
                    "maxLength": 13,
                    "example": "9876543210"
                  },
                  "otp": {
                    "type": "string",
                    "minLength": 5,
                    "maxLength": 5,
                    "example": "12345"
                  },
                  "installationId": {
                    "type": "string",
                    "example": "64f1c2b8e4b0a1a2b3c4d5e6"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Otp verified or Otp expired, depending on the success flag.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Otp verified"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "example": true
                        },
                        "user": {
                          "type": "object"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/v1/vmt/sign-up": {
      "post": {
        "tags": [
          "VMT"
        ],
        "summary": "Complete VMT sign up for a verified user",
        "description": "Links the user to an existing VMS customer record (matched by name and mobile) when found, then updates the user and issues a one year JWT.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "mobile",
                  "name",
                  "state",
                  "district",
                  "tehsil",
                  "location",
                  "address",
                  "userId"
                ],
                "properties": {
                  "mobile": {
                    "type": "string",
                    "minLength": 10,
                    "maxLength": 15,
                    "example": "9876543210"
                  },
                  "name": {
                    "type": "string",
                    "example": "Ramesh Kumar"
                  },
                  "state": {
                    "type": "number",
                    "example": 12
                  },
                  "district": {
                    "type": "number",
                    "example": 45
                  },
                  "tehsil": {
                    "type": "number",
                    "example": 78
                  },
                  "location": {
                    "type": "string",
                    "example": "Indore"
                  },
                  "address": {
                    "type": "string",
                    "example": "Main Road, Indore"
                  },
                  "userId": {
                    "type": "string",
                    "example": "64f1c2b8e4b0a1a2b3c4d5e6"
                  },
                  "long": {
                    "type": "number",
                    "example": 75.8577
                  },
                  "lat": {
                    "type": "number",
                    "example": 22.7196
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User is signed up",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "user is signed up"
                    },
                    "data": {
                      "type": "object",
                      "description": "Updated VMT user document."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/v1/vmt/vehicle-listing": {
      "get": {
        "tags": [
          "VMT"
        ],
        "summary": "Get the vehicle listing for the logged in customer's bookings",
        "description": "Builds a listing from the customer's bookings, deriving customer info, brand, model, checklist, and images from the linked lead.",
        "security": [
          {
            "VmsAuthToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "Vehicle list fetched",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Vehicle list fetched"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "customerName": {
                            "type": "string"
                          },
                          "customerMobile": {
                            "type": "string"
                          },
                          "brand": {
                            "type": "object"
                          },
                          "model": {
                            "type": "object"
                          },
                          "checkList": {
                            "type": "array",
                            "items": {
                              "type": "object"
                            }
                          },
                          "image": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "manufacturingYear": {
                            "type": "string"
                          },
                          "regNo": {
                            "type": "string"
                          },
                          "chassisNumber": {
                            "type": "string"
                          },
                          "sellingPrice": {
                            "type": "number"
                          },
                          "state": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/v1/vmt/vehicle-details": {
      "get": {
        "tags": [
          "VMT"
        ],
        "summary": "Get details of a single vehicle by lead or booking id",
        "security": [
          {
            "VmsAuthToken": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "lead",
            "schema": {
              "type": "string"
            },
            "description": "Lead id to filter on."
          },
          {
            "in": "query",
            "name": "booking",
            "schema": {
              "type": "string"
            },
            "description": "Booking id to filter on."
          }
        ],
        "responses": {
          "200": {
            "description": "Vehicle details fetched",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Vehicle details fetched"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "customerName": {
                          "type": "string"
                        },
                        "customerMobile": {
                          "type": "string"
                        },
                        "brand": {
                          "type": "object"
                        },
                        "model": {
                          "type": "object"
                        },
                        "checkList": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        },
                        "image": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "manufacturingYear": {
                          "type": "string"
                        },
                        "regNo": {
                          "type": "string"
                        },
                        "chassisNumber": {
                          "type": "string"
                        },
                        "sellingPrice": {
                          "type": "number"
                        },
                        "listingPrice": {
                          "type": "number"
                        },
                        "afterSale": {
                          "type": "object"
                        },
                        "state": {
                          "type": "string"
                        },
                        "id": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/v1/vmt/recommended-vehicles": {
      "get": {
        "tags": [
          "VMT"
        ],
        "summary": "Get recommended listed vehicles for the customer",
        "description": "Filters listed leads by the user's state/district (or explicit filters) plus optional state, brand, model, and price range filters.",
        "security": [
          {
            "VmsAuthToken": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "state",
            "schema": {
              "type": "string"
            },
            "description": "Comma separated list of registration states."
          },
          {
            "in": "query",
            "name": "price",
            "schema": {
              "type": "string"
            },
            "description": "Comma separated min-max price ranges, e.g. 100000-500000."
          },
          {
            "in": "query",
            "name": "brand",
            "schema": {
              "type": "string"
            },
            "description": "Comma separated brand ids."
          },
          {
            "in": "query",
            "name": "model",
            "schema": {
              "type": "string"
            },
            "description": "Comma separated model ids."
          },
          {
            "in": "query",
            "name": "regNo",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "source",
            "schema": {
              "type": "string",
              "example": "FINJ"
            }
          },
          {
            "in": "query",
            "name": "stateId",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "districtId",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Recommended vehicles fetched",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Recommended vehicles fetched"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "brand": {
                            "type": "object"
                          },
                          "model": {
                            "type": "object"
                          },
                          "checkList": {
                            "type": "array",
                            "items": {
                              "type": "object"
                            }
                          },
                          "image": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "manufacturingYear": {
                            "type": "string"
                          },
                          "regNo": {
                            "type": "string"
                          },
                          "sellingPrice": {
                            "type": "number"
                          },
                          "state": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "vehicleStatus": {
                            "type": "string"
                          },
                          "vehicleType": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/v1/vmt/recommended-vehicles-finj": {
      "get": {
        "tags": [
          "VMT"
        ],
        "summary": "Get recommended vehicles for the FINJ microservice",
        "description": "Same as recommended-vehicles but keyed by explicit state/city names and callable by the FINJ microservice token, with pagination and an option to include sold vehicles.",
        "security": [
          {
            "FinjToken": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "state",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "price",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "brand",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "model",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "regNo",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "state_name",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "city_name",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "showSold",
            "schema": {
              "type": "string",
              "example": "true"
            }
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Recommended vehicles fetched",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Recommended vehicles fetched"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "brand": {
                            "type": "object"
                          },
                          "model": {
                            "type": "object"
                          },
                          "checkList": {
                            "type": "array",
                            "items": {
                              "type": "object"
                            }
                          },
                          "image": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "manufacturingYear": {
                            "type": "string"
                          },
                          "regNo": {
                            "type": "string"
                          },
                          "sellingPrice": {
                            "type": "number"
                          },
                          "state": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "vehicleStatus": {
                            "type": "string"
                          },
                          "vehicleType": {
                            "type": "string"
                          },
                          "tjListingId": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/v1/vmt/vehicle-finj/{id}": {
      "get": {
        "tags": [
          "VMT"
        ],
        "summary": "Get a single vehicle (lead) by id for the FINJ microservice",
        "security": [
          {
            "FinjToken": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Lead id."
          }
        ],
        "responses": {
          "200": {
            "description": "Vehicle Data fetched",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Vehicle Data fetched"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "brand": {
                          "type": "object"
                        },
                        "model": {
                          "type": "object"
                        },
                        "checkList": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        },
                        "image": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "manufacturingYear": {
                          "type": "string"
                        },
                        "regNo": {
                          "type": "string"
                        },
                        "sellingPrice": {
                          "type": "number"
                        },
                        "state": {
                          "type": "string"
                        },
                        "id": {
                          "type": "string"
                        },
                        "vehicleStatus": {
                          "type": "string"
                        },
                        "vehicleType": {
                          "type": "string"
                        },
                        "tjListingId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "description": "Vehicle not found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Vehicle not found."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/v1/vmt/vehicle-count": {
      "get": {
        "tags": [
          "VMT"
        ],
        "summary": "Get the total count of listed vehicles, for the FINJ microservice",
        "security": [
          {
            "FinjToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "Listed Vehicle Count Fetched Successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Listed Vehicle Count Fetched Successfully."
                    },
                    "vehicleCount": {
                      "type": "number",
                      "example": 128
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal Server Error"
                    },
                    "error": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/vmt/get-vehicle-by-ids": {
      "post": {
        "tags": [
          "VMT"
        ],
        "summary": "Get vehicles (leads) matching a list of ids, for the FINJ microservice",
        "security": [
          {
            "FinjToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "ids"
                ],
                "properties": {
                  "ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "example": [
                      "64f1c2b8e4b0a1a2b3c4d5e6"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Recommended vehicles fetched",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Recommended vehicles fetched"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "brand": {
                            "type": "object"
                          },
                          "model": {
                            "type": "object"
                          },
                          "checkList": {
                            "type": "array",
                            "items": {
                              "type": "object"
                            }
                          },
                          "image": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "manufacturingYear": {
                            "type": "string"
                          },
                          "regNo": {
                            "type": "string"
                          },
                          "sellingPrice": {
                            "type": "number"
                          },
                          "state": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "vehicleStatus": {
                            "type": "string"
                          },
                          "vehicleType": {
                            "type": "string"
                          },
                          "tjListingId": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/v1/vmt/create-service": {
      "post": {
        "tags": [
          "VMT"
        ],
        "summary": "Create a service request, or return an existing pending one",
        "description": "If a pending service request already exists for the same regNo and user, that record is returned instead of creating a duplicate.",
        "security": [
          {
            "VmsAuthToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "regNo",
                  "bookingDate"
                ],
                "properties": {
                  "regNo": {
                    "type": "string",
                    "example": "MP09AB1234"
                  },
                  "bookingDate": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "description": {
                    "type": "string"
                  },
                  "serviceType": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Service is created, or Service is already created.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Service is created"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/v1/vmt/update-service": {
      "put": {
        "tags": [
          "VMT"
        ],
        "summary": "Update a service request's status",
        "security": [
          {
            "VmsAuthToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "regNo",
                  "serviceId"
                ],
                "properties": {
                  "regNo": {
                    "type": "string",
                    "example": "MP09AB1234"
                  },
                  "serviceId": {
                    "type": "string"
                  },
                  "status": {
                    "type": "string",
                    "example": "COMPLETED"
                  },
                  "bookingDate": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "description": {
                    "type": "string"
                  },
                  "serviceType": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "service Updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "service Updated successfully"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/v1/vmt/service-by-user": {
      "get": {
        "tags": [
          "VMT"
        ],
        "summary": "Get all service requests for the logged in user",
        "security": [
          {
            "VmsAuthToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "all service fetched",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "all service fetched"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "status": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "regNo": {
                            "type": "string"
                          },
                          "serviceType": {
                            "type": "string"
                          },
                          "userId": {
                            "type": "string"
                          },
                          "reason": {
                            "type": "string"
                          },
                          "bookingDate": {
                            "type": "string",
                            "format": "date-time"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/v1/vmt/detail-service": {
      "get": {
        "tags": [
          "VMT"
        ],
        "summary": "Get a single service request's details",
        "security": [
          {
            "VmsAuthToken": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "serviceId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "all service fetched",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "all service fetched"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        },
                        "regNo": {
                          "type": "string"
                        },
                        "serviceType": {
                          "type": "string"
                        },
                        "userId": {
                          "type": "string"
                        },
                        "reason": {
                          "type": "string"
                        },
                        "bookingDate": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/v1/vmt/all-service": {
      "get": {
        "tags": [
          "VMT"
        ],
        "summary": "Get all service requests",
        "security": [
          {
            "VmsAuthToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "all service fetched",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "all service fetched"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "status": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "regNo": {
                            "type": "string"
                          },
                          "serviceType": {
                            "type": "string"
                          },
                          "userId": {
                            "type": "string"
                          },
                          "reason": {
                            "type": "string"
                          },
                          "bookingDate": {
                            "type": "string",
                            "format": "date-time"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/v1/vmt/create-support": {
      "post": {
        "tags": [
          "VMT"
        ],
        "summary": "Create a support ticket",
        "security": [
          {
            "VmsAuthToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "reason"
                ],
                "properties": {
                  "reason": {
                    "type": "string",
                    "example": "Vehicle not delivered"
                  },
                  "description": {
                    "type": "string"
                  },
                  "feedback": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ticket created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Ticket created successfully"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/v1/vmt/update-support": {
      "put": {
        "tags": [
          "VMT"
        ],
        "summary": "Update a support ticket",
        "security": [
          {
            "VmsAuthToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "reason"
                ],
                "properties": {
                  "reason": {
                    "type": "string",
                    "example": "Vehicle not delivered"
                  },
                  "description": {
                    "type": "string"
                  },
                  "feedback": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ticket updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Ticket updated successfully"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/v1/vmt/support-by-user": {
      "get": {
        "tags": [
          "VMT"
        ],
        "summary": "Get all support tickets for the logged in user",
        "security": [
          {
            "VmsAuthToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "Ticket list fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Ticket list fetched successfully"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "userId": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "reason": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "feedback": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/v1/vmt/get-all-support": {
      "get": {
        "tags": [
          "VMT"
        ],
        "summary": "Get all support tickets",
        "security": [
          {
            "VmsAuthToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "Ticket list fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Ticket list fetched successfully"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "userId": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "reason": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "feedback": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/v1/vmt/details-support": {
      "get": {
        "tags": [
          "VMT"
        ],
        "summary": "Get a single support ticket's details",
        "security": [
          {
            "VmsAuthToken": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "supportId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ticket details fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Ticket details fetched successfully"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "userId": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        },
                        "reason": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        },
                        "feedback": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/v1/vmt/get-users": {
      "get": {
        "tags": [
          "VMT"
        ],
        "summary": "Get all VMT users",
        "security": [
          {
            "VmsAuthToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "All users fetch",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "All users fetch"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "phoneNo": {
                            "type": "number"
                          },
                          "state": {
                            "type": "string"
                          },
                          "stateId": {
                            "type": "number"
                          },
                          "district": {
                            "type": "string"
                          },
                          "districtId": {
                            "type": "number"
                          },
                          "tehsil": {
                            "type": "string"
                          },
                          "tehsilId": {
                            "type": "number"
                          },
                          "newUser": {
                            "type": "boolean"
                          },
                          "isRegister": {
                            "type": "boolean"
                          },
                          "address": {
                            "type": "string"
                          },
                          "locationName": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/v1/vmt/update-user": {
      "post": {
        "tags": [
          "VMT"
        ],
        "summary": "Update a VMT user's profile by id",
        "description": "No request-level validator is applied; the controller expects the user's id plus any of the profile fields on the user model.",
        "security": [
          {
            "VmsAuthToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "id"
                ],
                "properties": {
                  "id": {
                    "type": "string",
                    "example": "64f1c2b8e4b0a1a2b3c4d5e6"
                  },
                  "name": {
                    "type": "string"
                  },
                  "phoneNo": {
                    "type": "number"
                  },
                  "state": {
                    "type": "string"
                  },
                  "stateId": {
                    "type": "number"
                  },
                  "district": {
                    "type": "string"
                  },
                  "districtId": {
                    "type": "number"
                  },
                  "tehsil": {
                    "type": "string"
                  },
                  "tehsilId": {
                    "type": "number"
                  },
                  "address": {
                    "type": "string"
                  },
                  "locationName": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User updated Successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "User updated Successfully"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/v1/vmt/manage-wishlist": {
      "post": {
        "tags": [
          "VMT"
        ],
        "summary": "Toggle a lead in the logged in user's wishlist",
        "description": "Adds the lead id to the user's wishList array if absent, or removes it if already present.",
        "security": [
          {
            "VmsAuthToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "leadId"
                ],
                "properties": {
                  "leadId": {
                    "type": "string",
                    "example": "64f1c2b8e4b0a1a2b3c4d5e6"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Recommended vehicles fetched",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Recommended vehicles fetched"
                    },
                    "data": {
                      "type": "object",
                      "description": "Mongo updateOne result."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "get": {
        "tags": [
          "VMT"
        ],
        "summary": "Get the logged in user's wishlisted vehicles",
        "security": [
          {
            "VmsAuthToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "User wishlist fetched",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "User wishlist fetched"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "brand": {
                            "type": "object"
                          },
                          "model": {
                            "type": "object"
                          },
                          "checkList": {
                            "type": "array",
                            "items": {
                              "type": "object"
                            }
                          },
                          "image": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "manufacturingYear": {
                            "type": "string"
                          },
                          "regNo": {
                            "type": "string"
                          },
                          "chassisNumber": {
                            "type": "string"
                          },
                          "sellingPrice": {
                            "type": "number"
                          },
                          "state": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/v1/vmt/get-installation": {
      "get": {
        "tags": [
          "VMT"
        ],
        "summary": "Get all app installation records",
        "security": [
          {
            "VmsAuthToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "All installation fetched",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "All installation fetched"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "installReferer": {
                            "type": "array",
                            "items": {}
                          },
                          "refer": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/v1/vmt/create-installation": {
      "post": {
        "tags": [
          "VMT"
        ],
        "summary": "Record an app installation",
        "description": "This route has no per-route auth middleware in this file.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "installationReferer": {
                    "type": "array",
                    "items": {},
                    "description": "Free-form referer info."
                  },
                  "refer": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Installation created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Installation created successfully"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/v1/vmt/nearby-centre": {
      "get": {
        "tags": [
          "VMT"
        ],
        "summary": "Get centres near the logged in user's centre state",
        "description": "Uses the state of the user's first assigned centre and excludes that same centre from the results.",
        "security": [
          {
            "VmsAuthToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "Centre data fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Centre data fetched successfully"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/v1/vmt/update-profile": {
      "put": {
        "tags": [
          "VMT"
        ],
        "summary": "Update the logged in user's profile",
        "description": "No request-level validator is applied; the controller reads the listed fields directly from the body.",
        "security": [
          {
            "VmsAuthToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "mobile": {
                    "type": "string"
                  },
                  "state": {
                    "type": "string"
                  },
                  "district": {
                    "type": "string"
                  },
                  "tehsil": {
                    "type": "string"
                  },
                  "address": {
                    "type": "string"
                  },
                  "location": {
                    "type": "string"
                  },
                  "long": {
                    "type": "number"
                  },
                  "lat": {
                    "type": "number"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "user is updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "user is updated"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/v1/vmt/banners": {
      "get": {
        "tags": [
          "VMT"
        ],
        "summary": "Get VMT app banners",
        "security": [
          {
            "VmsAuthToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "banners fetched",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "banners fetched"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/v1/vmt/details-vaahan": {
      "get": {
        "tags": [
          "VMT"
        ],
        "summary": "Get vehicle details from the Vahan service by registration number",
        "security": [
          {
            "VmsAuthToken": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "regNo",
            "required": true,
            "schema": {
              "type": "string",
              "example": "MP09AB1234"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "vahhan detail fetched",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "vahhan detail fetched"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/v1/vmt/referer": {
      "post": {
        "tags": [
          "VMT"
        ],
        "summary": "Save a single referred person and get an app share link",
        "security": [
          {
            "VmsAuthToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "phoneNumber": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string"
                  },
                  "centre": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "referrer created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "referrer created"
                    },
                    "data": {
                      "type": "string",
                      "description": "Shareable Traco app install link/message."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/v1/vmt/all-invite": {
      "post": {
        "tags": [
          "VMT"
        ],
        "summary": "Bulk-save contacts as referrals from a synced address book",
        "description": "Only inserts referer records the first time a user's contacts are synced (guarded by the isContactSync flag on the user).",
        "security": [
          {
            "VmsAuthToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "contacts"
                ],
                "properties": {
                  "contacts": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "mobile": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "number": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "referrer created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "referrer created"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      },
                      "description": "Null when the user's contacts were already synced before."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/v1/vmt/add-lead": {
      "post": {
        "tags": [
          "VMT"
        ],
        "summary": "Submit a traco lead enquiry for a vehicle",
        "security": [
          {
            "VmsAuthToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "leadId"
                ],
                "properties": {
                  "leadId": {
                    "type": "string",
                    "example": "64f1c2b8e4b0a1a2b3c4d5e6"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enquiry Submitted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Enquiry Submitted"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/v1/vmt/search-location": {
      "get": {
        "tags": [
          "VMT"
        ],
        "summary": "Search a location keyword against the TJ location service",
        "description": "This route has no per-route auth middleware in this file; it calls out to the external TJ location API using a server-side API key.",
        "parameters": [
          {
            "in": "query",
            "name": "keyword",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
[...]
